{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>The Home page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolores ducimus eos, harum modi omnis perferendis porro provident rem, sequi similique temporibus? Culpa cupiditate dolore fugiat repellat repudiandae sed voluptate.</p>
            </div>
        </div>
    </div>
{{end}}